<%= form_for @question, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <div class="controls">
      <%= f.text_field :title, :class => 'text_field', placeholder: t('.title') %>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <%= f.text_area :content, :class => 'text_field', placeholder: t('.content') %>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <%= f.text_field :tag_list, :class => 'text_field', placeholder: t('.tags') %>
    </div>
  </div>

  <div class="control-group" id="answer_form">
    <div class="controls">
      <%= render 'answer_form', f: f %>
    </div>
  </div>
  
  <div class="form-actions row-fluid">
    <div class="span6 pull-left">
      <%= f.submit t('.post'), :class => 'btn btn-primary', :id => 'post_button' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                request.env['HTTP_REFERER'], :class => 'btn', :id => 'cancel_link' %>
    </div>
  </div>
<% end %>
