<div class="row-fluid <%= post.class.name.downcase %>">
  <div class="span1">
    <%= render 'reputation' %>    
  </div>
  <div class="span11">
    <div>
      <h2><%= post.title %></h2>
    </div>
    <div>
      <%=raw sanitize(simple_format(post.content), :tags => %w(br p) ) %>
    </div>
    <%= render 'shared/posts/other', post: post %>
  </div>
</div>
