<div class="row-fluid <%= post.class.name.downcase %>">
  <div class="span1">
    <%= render 'reputation', post: post %>    
  </div>
  <div class="span11">
    <div>
      <h2><%= post.title %></h2>
    </div>
    <div>
      <%=raw sanitize(simple_format(post.content), :tags => %w(br p) ) %>
    </div>
    <%= render 'shared/posts/other', post: post %>
    <% if current_user%>
      <% post.comments.new %>
      <%= form_for post, :html => { :class => 'form-horizontal'} do |f| %>
        <div class="row-fluid">
          <div class="span9 offset3 small-grey-text">
            <%= render 'comments/comments', post: post %>
            <div class="control-group" id="comment_form">
              <div class="controls">
                <%= render 'comments/form', f: f %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
