<div>
  <% @users.each_with_index do |user, i| %>
      <div class="user-cell">
        <div class="row-fluid">
          <div class="span2">
            <%= image_tag "http://graph.facebook.com/#{user.uid}/picture" %>
          </div>
          <div class="name span8">
            <%= user.name %>
            <span>• <%= user.karma %>, </span><span>Q - <%= user.questions.count %></span>, <span>A - <%= user.answers.count %></span>
          </div>
        </div>
      </div>
  <% end %>
</div>

<%= render "shared/pagination", collection: @users %>
