<%= form_for @question, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group" id="answer_form">
    <div class="controls">
        <%= f.fields_for :answers, @question.answers.build do |answer_fields|%>
          <%= answer_fields.text_area :content, :class=> 'text_field new_answer', placeholder: t('.answer') %>  
          <%= answer_fields.hidden_field :user_id, value: current_user.id if current_user %>
        <% end %>
    </div>
  </div>
  <%= render 'submit', f: f %>
<% end %>
<% else %>
