<div class="post_controls">
  <span class="post_control">
    <%= link_to '#', class: 'edit' do %>
      <i class="icon-pencil"></i>
      <%= t('.edit') %>          
    <% end %>
  </span>
  <span class="post_control">
    <%= link_to '#' do %>
      <i class="icon-share"></i>
      <%= t('.share') %>    
    <% end %>
  </span>
  <span class="post_control">
    <%= link_to '#' do %>
      <i class="icon-remove-circle"></i>
      <%= t('.delete') %>    
    <% end %>
  </span>

</div>

<div class="post_controls_hide">

</div>
