
<div class="row-fluid">
  <div id="sign-in-text">
    <div id="sign-in-message">
      <%= t('login.message') %>
    </div>
    <div id="sign-in-button">
   <%= link_to t('general.sign_in_with_facebook'), user_omniauth_authorize_path(:facebook), :class => 'btn btn-facebook btn-large' %>  
    </div>
    <div class="row-fluid login-footer">
      <div class="span1 offset4"> 
        <%= link_to t('footer.about'), 'http://www.neilmarion.com/index.php/paano-uplb/' %>
      </div>
      <div class="span1"> 
        <%= link_to t('footer.github'), 'https://github.com/neilmarion/paano' %>
      </div>
      <div class="span1"> 
        <%= link_to t('footer.facebook'), 'http://www.facebook.com/paanouplb' %>
      </div>
      <div class="span1"> 
        <%= link_to t('footer.bugs'), 'https://github.com/neilmarion/paano/issues' %>
      </div>
    </div>
  </div>
</div>
