<%- model_class = Question -%>

<div class="well-large text-center" id="search_div">
<%= form_tag posts_path, :method => 'get', :class => 'search' do %>
  <%= text_field_tag :query, params[:query], :class => 'input-xxlarge', :id => 'search_input' %>
  <div>
  <%= submit_tag t('.search'), :id => "search_button", :class => "btn btn-primary btn-large" %>
  <span class="grey_text"><%= t('.or') %></span>
  <%= link_to t('.ask'), new_question_path, :id => "ask_button", :class => "btn btn-success btn-large" %>
  </div>
<% end %>
</div>

<table class="table">
  <thead>
  </thead>
  <tbody>
    <%= render "posts", posts: @posts %>
  </tbody>
</table>
<%= render "pagination", posts: @posts%>
<%= render "shared/home/right" %>
