<%- model_class = Question -%>

<div class="well-large text-center">
<%= form_tag posts_path, :method => 'get', :class => 'search' do %>
  <%= text_field_tag :query, params[:query], :class => 'input-xxlarge', :id => 'search_input' %>
  <div>
  <%= submit_tag "Search", :class => "btn btn-primary btn-large" %>
  or
  <%= submit_tag "Ask", :class => "btn btn-success btn-large" %>
  </div>
<% end %>
</div>

<table class="table">
  <thead>
  </thead>
  <tbody>
    <% @posts.each do |post| %>
      <tr class = "search_result_row">
        <td class = "search_result_col number_col">
          <div class = "circle_base number_div">
            <%= post.reputation_for(:votes) %>
          </div>
        </td>
        <td class = "search_result_col number_col">
          <div class = "circle_base number_div">
            9  
          </div>
        </td>
        <td class = "search_result_col content_col">
          <div>
            <%= link_to post.title, post_path(post), :class => "search_result_link search_result_a" %>
          </div>
          <div class="search_result_preview_div">
            <%= truncate(post.content, :length => 200) %> 
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
