<%- model_class = Question -%>

<div class="well-large text-center">
<%= form_tag posts_path, :method => 'get', :class => 'search' do %>
  <%= text_field_tag :query, params[:query], :class => 'input-xxlarge', :id => 'search_input' %>
  <div>
  <%= submit_tag "Search", :id => "search", :class => "btn btn-primary btn-large" %>
  or
  <%= link_to "Ask", new_question_path, :id => "ask", :class => "btn btn-success btn-large" %>
  </div>
<% end %>
</div>

<table class="table">
  <thead>
  </thead>
  <tbody>
    <% @posts.each do |post| %>
      <tr class = "search_result_row">
        <td class = "search_result_col number_col">
          <div class = "circle_base number_div vote_number_div">
            <%= post.reputation_for(:votes).to_i %>
          </div>
        </td>
        <td class = "search_result_col number_col">
          <div class = "circle_base number_div answer_number_div">
            9  
          </div>
        </td>
        <td class = "search_result_col content_col">
          <div>
            <%= link_to post.type == "Question" ? t('.q') + post.title : t('.a') + post.becomes(Answer).question.title, post_path(post), :class => "search_result_link search_result_a" %>
          </div>
          <div class="search_result_preview_div">
            <%= truncate(post.content, :length => 200) %> 
          </div>
          <div class="search_result_other_div">
            <div class="tags_div span2">
              tags
            </div>
            <div class="asker_div span4">
              asked
              <%= time_ago_in_words post.created_at %>
              by
              <%= post.user.name if post.user%>
            </div>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
