<%- model_class = Question -%>

<div class="well-large text-center">
<%= form_tag posts_path, :method => 'get', :class => 'search' do %>
  <%= text_field_tag :query, params[:query], :class => 'input-xxlarge', :id => 'search' %>
  <div>
  <%= submit_tag "Search", :class => "btn btn-primary" %>
  or
  <%= submit_tag "Ask", :class => "btn btn-success" %>
  </div>
<% end %>
</div>

<table class="table table-striped">
  <thead>
    <tr>
    </tr>
  </thead>
  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= link_to post.title, post_path(post) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_question_path,
            :class => 'btn btn-primary' %>
