<% posts.each do |post| %>
  <tr class = "post-row">
    <td>
      <%= render 'shared/posts/reputations', post: post %>
      <%= render 'shared/posts/title', post: post %> 
      <%= render 'shared/posts/preview', post: post %> 
      <%= render 'shared/posts/other', post: post %> 
      <%= render 'shared/posts/controls' %>
    </td>
  </tr>
<% end %>
