<!DOCTYPE html>
<html lang="en">
  <%= render 'shared/head' %>
  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/content'%>
    <%= javascript_include_tag "application" %>
    <%= render 'shared/footer'%>
  </body>
</html>
