<!DOCTYPE html>
<html lang="en">
  <%= render 'shared/head' %>
  <%= render 'shared/navbar'%>
  <div class="row-fluid">
    <div class="span2"></div>
    <div class="span8">
      <div class="span4"></div>
      <div class="span8">
      <%= render 'shared/home/home' %>
      </div>
    </div>
    <div class="span2"></div>
  </div>
  <%= render 'shared/footer'%>
  <%= javascript_include_tag "application" %>
</html>
