<!DOCTYPE html>
<html lang="en">
  <%= render 'shared/head' %>
  <%= render 'shared/navbar'%>
  <div class="row-fluid">
    <div class="span2"></div>
    <div class="span8">
      <div class="span4">
        <%= render 'shared/home/left' %> 
      </div>
      <div class="span8">
        <%= bootstrap_flash %>
        <%= render 'shared/home/right' %>
      </div>
    </div>
    <div class="span2"></div>
  </div>
  <%= render 'shared/footer'%>
  <%= javascript_include_tag "application" %>
</html>
